$black: #000;
$white: #fff;
$link_color: rgb(252,86,64);
$link_hover: lighten($link_color, 10%);
$link_visited: $link_color;
$footer-links: #f2c12a;
$dark-gray: #555555;
$light-gray: #6d6d6d;
$text-color: #1c1c1c;
