$font_stack_1: "Cardo", serif;
$font_stack_3: "Montserrat", sans-serif;
$section_inner__width: 33rem;
$baseline: 1.5em;

$h1_default_size: 3em;     /* 2*16 = 32 */  
$h2_default_size: 1.5em;   /* 1.5*16 = 24 */ 
$h3_default_size: 1.17em;  /* 1.17*16 = 18.72 */ 
$h4_default_size: 1em;	   /* 1*16 = 16 */
$h5_default_size: 0.83em;  /* 0.83*16 = 13.28 */ 
$h6_default_size: 0.75em;  /* 0.75*16 = 12 */ 